* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    font-weight: 100;
  }
  
  .container {
    height: 700px;
    width: 300px;
    position: relative;
    padding-bottom: 1000px;
  }
  
  
  .face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111111;
    height: 60%;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    border-radius: 25px;
  }
  
  .stopwatch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  .timer {
    font-weight: 100;
    font-size: 2.4em;
    font-variant-numeric: tabular-nums;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 10px 0px;
    align-items: center;
  }
  
  .controls button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    position: relative;
    font-size: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .controls button:focus {
    outline: none;
  }
  
  .controls button:hover {
    filter: opacity(0.8);
  }
  
  .controls button:before {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 2px solid #111111;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .controls .resetBtn {
    display: none;
  }
  
  .controls .resetBtn,
  .lapBtn {
    background: rgb(55, 54, 54);
    color: #fff;
  }
  
  .controls .startBtn {
    background: rgb(5, 92, 5);
    color: rgb(43, 218, 95);
  }
  
  .controls .stopBtn {
    display: none;
    background: rgb(155, 5, 17);
    color: red;
  }
  

  .lapsTracker {
    height: 300px;
    overflow: auto;
    cursor: pointer;
    position: relative;
    margin: 15px 0 20px 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .lapsTracker::-webkit-scrollbar { 
    display: none;
  }
  
  .laps {
    position: absolute;
    top: 0;
    min-height: 200px;
    width: 100%;
  }
  
  .laps .lap-data {
    height: 31px;
    display: flex;
    width: 100%;
    justify-content: flex-between;
    align-items: center;
  }
  
  .laps .lap-data span {
    font-size: 15px;
    flex: 1;
    text-align: left;
  }
  
  .laps .lap-data span:nth-of-type(2) {
    font-variant-numeric: tabular-nums;
    text-align: right;
  }

  hr{
    border-color: rgb(76, 76, 76);
  }


